{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block style %}
{{ form.media.css }}
<style>
    input, select {width: 100%}
</style>
{% endblock style %}

{% block content %}
<div class="card">
    <div class="card-header">Address Form</div>
    <div class="card-body">
        <form id="loginForm" method="POST" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ form.country }}
                </div>
                <div class="col-6">
                    {{ form.state }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}

{% endblock script %}