{% load crispy_forms_tags %}

<div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form id="loginForm" action="{% url 'users:login' %}" method="POST" novalidate>
            {% csrf_token %}
            {{ login_form | crispy }}
            <a class="button secondaryAction" href="">Forgot Password?</a>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-success" form="loginForm" type="submit">Login</button>
    </div>
</div>